/* @font-face {
  font-family: 'Orator Std';
  src: url('OratorStd.woff2') format('woff2'),
      url('OratorStd.woff') format('woff');
  font-weight: 500;
  font-style: normal;
} */

@font-face {
  font-family: 'Orator Std';
  src: local('Orator Std Medium'), local('OratorStd'),
    url('hinted-OratorStd.woff2') format('woff2'),
    url('hinted-OratorStd.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
